web:
  repository: 'quay.io/wikimedia-quarry/quarry'
  tag: pr-94 # web tag managed by github actions
  resources:
    requests:
      memory: "300Mi"
      cpu: "100m"
    limits:
      memory: "500Mi"
      cpu: "1"

worker:
  repository: 'quay.io/wikimedia-quarry/quarry'
  tag: pr-94 # worker tag managed by github actions
  resources:
    requests:
      memory: "400Mi"
      cpu: "100m"
    limits:
      memory: "2Gi"
      cpu: "1"

redis:
  resources:
    requests:
      memory: "256Mi"
      cpu: "125m"
    limits:
      memory: "512Mi"
      cpu: "250m"
  exporter:
    image: quay.io/oliver006/redis_exporter:v1.74.0
