flask==2.3.2
PyMySQL==1.0.3
requests==2.28.1
Werkzeug==2.3.4
SQLAlchemy==2.0.15
PyYAML==6.0
redis==4.5.5
mwoauth==0.3.8
XlsxWriter==3.1.1
celery==5.2.7
prometheus_client==0.16.0
prometheus_flask_exporter==0.22.4
greenlet==2.0.2
