apiVersion: apps/v1
kind: Deployment
metadata:
  name: worker
  labels:
    app: worker
spec:
  replicas: {{ .Values.worker.replicas }}
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: {{ .Values.worker.repository }}:{{ .Values.worker.tag }}
          imagePullPolicy: Always
          command: ["celery"]
          args: ["--app", "quarry.web.worker", "worker"]
          volumeMounts:
            - mountPath: "/results"
              name: results
            - name: config
              mountPath: /app/quarry/config.yaml
              subPath: config.yaml
            - mountPath: /tmp
              name: tmp
          resources:
            requests:
              memory: {{ .Values.worker.memory }}
              cpu: {{ .Values.worker.cpu }}
      volumes:
        - name: results
{{ if .Values.localdev.enabled }}
          persistentVolumeClaim:
            claimName: results
{{ else }}
          nfs:
            server: {{ .Values.nfs.server }}
            path: /srv/quarry/project/quarry/results/
{{ end }}
        - name: config
          configMap:
            name: config
        - name: tmp
          emptyDir:
            sizeLimit: 1Gi
