---

name: Build and Push quarry image

'on':
  pull_request_target:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: git fetch
        run: |
          git fetch
      - name: git checkout
        run: |
          git checkout ${{ github.head_ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_QUARRY_USER }}
          password: ${{ secrets.QUAY_QUARRY_PASSWORD }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          tags: quay.io/wikimedia-quarry/quarry:pr-${{ github.event.number }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
