---

name: "tests"

'on':
  pull_request:

jobs:
  tox:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.head_repo.full_name }}

      - name: build tox container
        run: |
          docker build -f tests/tox/Dockerfile -t tox:01 .
      - name: run tox container
        run: |
          docker run tox:01
  js:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          repository: ${{ github.head_repo.full_name }}
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
